{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {% if form.instance.id %}تعديل{% else %}إضافة{% endif %} قرار
{% endblock %}

{% block header %}
  {% if form.instance.id %} - تعديل{% else %} - إضافة{% endif %} قرار
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% crispy form %}
</form>
{% endblock %}

{% block scripts %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let inputField = document.getElementById('id_en_brand');
            
            if (inputField) {
                inputField.addEventListener('input', function() {
                    // Remove any non-English characters
                    this.value = this.value.replace(/[^a-zA-Z0-9\s]/g, '');
                });
        
                inputField.addEventListener('focus', function() {
                    this.setAttribute('lang', 'en');
                });
            }
        });
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let numberFields = ['id_number', 'id_number_applied', 'id_category']; // Replace with actual field IDs
        
            numberFields.forEach(function(fieldId) {
                let inputField = document.getElementById(fieldId);
                
                if (inputField) {
                    inputField.addEventListener('input', function() {
                        // Remove any non-numeric characters (allows only numbers)
                        this.value = this.value.replace(/[^0-9]/g, '');
                    });
        
                    inputField.addEventListener('focus', function() {
                        this.setAttribute('inputmode', 'numeric');  // Helps mobile devices show numeric keyboard
                    });
                }
            });
        });
    </script>
        
{% endblock %}