{% load static %}
{% if request.user.is_authenticated %}
<div class="d-flex gap-2 align-items-center justify-content-end">
    <!-- PDF Icon (Always Visible) -->
    <a href="{% url 'gen-pub-pdf' record.id %}" title="تحميل"><i class="bi bi-file-earmark-pdf-fill" style="font-size: 36px;"></i>
    </a>
    {% if record.status == 'initial' %}
        <a href="{% url 'gen-pub-pdf' record.id %}" title="موافقة"><i class="bi bi-check2-square text-success" style="font-size: 36px;"></i>
        </a>
    {% endif%}
    <!-- Use the icon itself as the dropdown trigger -->
    <div class="dropdown-center">
        <a href="#" class="action-icon" id="actionDropdown{{ record.id }}" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical text-dark"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="actionDropdown{{ record.id }}">
            <li>
                <a class="dropdown-item" href="{% url 'view_publication' record.id %}" title="عرض">
                    <i class="bi bi-binoculars-fill text-dark me-1" style="font-size: 22px;"> </i> عرض
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'edit_publication' record.id %}" title="تعديل">
                    <i class="bi bi-pencil-square text-dark me-1" style="font-size: 22px;"> </i> تعديل
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal"
                   data-doc-id="{{ record.id }}" data-doc-number="{{ record.number }}">
                   <i class="bi bi-x-octagon text-danger me-1" style="font-size: 22px;"> </i> حذف
                </a>
            </li>
        </ul>
    </div>
</div>
{% endif %}